#log-in-zone.form-zone
    #log-in-form.form.shadow
        #log-in-header.form-header #{__("log_in")}
        .form-item
            input(type="text" id="mail" name="mail" placeholder=__('mail') required)
        #log-in-pass-item.form-item
            input(type="password" id="pass" name="pass" placeholder=__('password') required)
            .popup-open.link(data-target-id="recovery-overlay") #{__("forgot_pass")}
        #log-in-message.message.not-visible None
        #log-in-submit.submit
            #log-in-submit-button.submit-button #{__("log_in")}
        #sign-up-zone
            .popup-open.link(data-target-id="signup-overlay") #{__("sign_up")}
